body{
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
}
.container{
    width:100%;
    height:400px;
    margin:auto;
}
.card{
    width:100%;
    margin:auto;
    padding:10px;
    background-color: rgb(255, 196, 0);
}
.row{
    margin:10px;
    padding:10px;
    flex-wrap:nowrap;
}
h1{
    font-size: 24px;
    display:inline-block;
}
h2{
    padding:30px;
    float:left;
    font-size:30px;
}
#time-remaining{
    float:right;
    position: relative;
    border: 4px outset;
}
.hidden{
    display:none;
}
.button{
    margin:10px 30px;
    display: inline-block;
}
.btn{
    padding:30px;
    margin:20px;
    float:left;
}
.button-primary{
    margin:20px;

}
#start-game{
    float:left;
    position: relative;
}
p{
    font-family: "Times New Roman", Times, serif;

}

#timeRow{
    float:right;
    margin:20px;
    padding:20px;

}
#submitRow{
    clear: both;
}
#answerRow{
    float:left;
    margin:auto;
}
#questionRow{
    padding:20px;
    margin:20;
    font-size: 40px;
}
#timer{
    padding:20px;
    margin:20px;
}